body {
  background-image: url("https://iili.io/HPMu4V9.jpg");
  background-size: cover;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

/* SOCIAL MEDIA BAR */
.social-bar {
  position: relative;
  top: 20px;
  left: 20px;
}

.social-icon {
  display: inline-block;
  margin-right: 10px;
}

.social-icon img {
  width: 30px;
}

/* LOGO */
#degame-logo {
  text-align: center;
  margin-top: 20px;
}

#degame-logo img {
  position: relative;
  filter: drop-shadow(0px 4px #BB84E8);
}

/* BUTTONS */
.button-container button,
.button-container-two button,
.all-categories {
  border: 2px solid #BB84E8;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 0px 2px 40px #BB84E8, 0px -2px 2px #BB84E8 inset, 0 2px 2px #ffffff inset;
  background: linear-gradient(#A437DB, #A437DB);
  margin: 10px;
  padding: 10px 20px;
  font-size: large;
  font-family: 'Orbitron', sans-serif;
}

.button-container,
.button-container-two,
.all-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

button:hover,
.footer-email-button {
  cursor: pointer;
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
}

button:active,
.footer-email-button {
  margin-top: 5px;
  color: #3c005a;
  box-shadow: 0px 0px;
}

/* LANGUAGE */
.language {
  cursor: pointer;
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
}

.language:hover .language-options {
  display: block;
  cursor: pointer;
}

.language-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 8px;
  border-radius: 4px;
  list-style-type: none;
  margin: 0;
}

.language-options li {
  padding: 2px;
  cursor: pointer;
}

.language-options li:hover {
  background-color: #BB84E8;
}

/* MOST PLAYED */
.top {
  position: absolute;
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
  font-size: 80px;
  top: 0;
  left: 0;
  right: 0;
  margin: 90px;
  filter: drop-shadow(0px 1px #f381ea) drop-shadow(0px 8px 8px rgba(204, 92, 204, 0.72)) drop-shadow(0px 15px 5px rgba(207, 92, 198, 0.44));
}

/* SLIDES */
.swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 200px auto;
  box-shadow: 5px 5px 10px rgba(187, 17, 178, 1);
}

.section-wrapper {
  position: relative;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  overflow: hidden;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 200px auto;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.swiper-pagination-bullet {
  display: inline-block;
  margin: 0 5px;
  width: 10px;
  height: 10px;
  background-color: #BB84E8;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

/* DISCOVER NOW */
.discover-section {
  text-align: center;
  margin-top: 100px;
}

.discover {
  font-size: 80px;
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
  filter: drop-shadow(0px 1px #f381ea) drop-shadow(0px 8px 8px rgba(204, 92, 204, 0.72)) drop-shadow(0px 15px 5px rgba(207, 92, 198, 0.44));
}

.discover-container {
  margin-bottom: 50px;
}

p,
.discover-container {
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: xx-large;
}

/* BOXES */
.activities-panel {
  margin-bottom: 40px;
  padding: 80px 0px;
  text-align: center;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
}

.activity {
  background-color: #BB84E8;
  box-sizing: border-box;
  width: 240px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 5px;
  box-shadow: 2px 5px 10px;
}

.activities-panel .activity {
  font-size: 16px;
  letter-spacing: 1.5px;
}

.discover,
.activities-panel {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.discover.active,
.activities-panel.active {
  transform: translateY(0);
  opacity: 1;
}

#pa {
  letter-spacing: 2px;
}

/* JOIN OUR COMMUNITY */
.right-info {
  background-color: #6d1d96;
  padding: 150px;
  text-align: right;
  width: 100%;
  position: relative;
}

.right-info p {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 600px;
  letter-spacing: 6px;
  font-weight: 600;
}

.icon1 {
  position: absolute;
  top: 25%; 
  left: 5%;
  transform: translate(0, -50%); 
}

.icon2 {
  position: absolute;
  top: 55%; 
  left: 5%;
  transform: translate(0, -50%); 
}

.icon3 {
  position: absolute;
  top: 85%; 
  left: 5%;
  transform: translate(0, -50%); 
}

.right-info-container {
  position: relative; 
  width: auto;
}

ul li {
  list-style-type: none;
/*   display: flex; */
  align-items: center;
  margin-bottom: 10px; 
}


ul li .text {
  display: inline;
  margin-left: 10px;
  margin-top: 45px;
  padding-top: 20px;
  color: white;
  font-family: 'Orbitron', sans-serif;
  font-size: 15px;
  letter-spacing: 4px;
  float: right; 
  font-weight: 600;
}

/* GAMING GIANTS */
.best-section {
  text-align: center;
  margin-top: 100px;
}

.best {
  font-size: 80px;
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
  filter: drop-shadow(0px 1px #f381ea) drop-shadow(0px 8px 8px rgba(204, 92, 204, 0.72)) drop-shadow(0px 15px 5px rgba(207, 92, 198, 0.44));
}

.best-container {
  margin-bottom: 50px;
}

.logo-container {
  display: block;
  justify-content: center; 
  margin-top: 20px; 
}

.logo-container-2 {
  display: block;
  justify-content: center; 
  margin-top: 20px; 
}

.logo-container-2 a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  overflow: hidden;
}

.logo-container img {
  margin: auto; 
  height: auto; 
}

.logo-container-2 img {
  margin: auto;
  height: auto;
}

.logo-container-2 a:hover img {
  pointer-events: auto;
}

/* FOOTER */

.footer {
  background-color: #6d1d96;
  padding: 30px 30px 60px;
}

.footer-section {
  margin-bottom: 25px;
  text-align: center;
  display: block;
}

.footer .logo {
  margin-bottom: 5px;
  width: 110px;
}

.footer p  {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.footer-email-input {
  margin-right: 2.5%;
  width: 15%;
}

.footer-email-button {
  border: 2px solid #BB84E8;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 0px 2px 40px #BB84E8, 0px -2px 2px #BB84E8 inset, 0 2px 2px #ffffff inset;
  background: linear-gradient(#A437DB, #A437DB);
  margin: 10px;
  padding: 10px 20px;
  font-size: large;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 2px;
}



/* @ */
@media (max-width: 768px) {

  .button-container,
  .button-container-two {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .top {
    font-size: 30px;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
